<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pxlucasf/php-mvc » {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{BASE}}public/vendor/bulma/bulma.min.css">
  <link rel="stylesheet" href="{{BASE}}public/css/style.css">
  <link rel="icon" type="image/png" href="{{BASE}}public/img/favicon.png">
</head>
<body>
  {% include 'parts/header.twig' %}
  {% block body %}{% endblock %}
</body>
</html>