{% extends 'parts/body.twig' %}

{% block title %}Sobre nós{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">🙋‍♀️ Sobre nós</h1>
    <div class="card">
      <div class="card-content">
        <p>Considerando que temos bons administradores de rede, o desenvolvimento contínuo de distintas formas de codificação nos obriga à migração do levantamento das variáveis envolvidas. O que temos que ter sempre em mente é que a utilização de recursos de hardware dedicados otimiza o uso dos processadores da terceirização dos serviços. No entanto, não podemos esquecer que a lógica proposicional acarreta um processo de reformulação e modernização das janelas de tempo disponíveis. Percebemos, cada vez mais, que a percepção das dificuldades auxilia no aumento da segurança e/ou na mitigação dos problemas da garantia da disponibilidade.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}